@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🌍 Globální nastavení */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background-color: #e5e5e5; /* světlé pozadí pro světlý režim */
  color: #111827; /* Tailwind barva text-gray-900 */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: inherit;
  color: inherit;
}

/* Případně odstranit nebo upravit všechny další globální styly,
   které nepotřebuješ globálně */
